<div class="container">
  <div class="header">
    <img src="assets/images/solx.png" alt="Logo">
  </div>

  <div class="content">
    <div class="coming-soon">
      Coming Soon
    </div>

    <div class="timer">
      <div class="days">
        <span>{{ remainingTime.days }}</span>
        <span>DAYS</span>
      </div>
      <span>:</span>
      <div class="hours">
        <span>{{ remainingTime.hours }}</span>
        <span>HOURS</span>
      </div>
      <span>:</span>
      <div class="minutes">
        <span>{{ remainingTime.minutes }}</span>
        <span>MINUTES</span>
      </div>
      <span>:</span>
      <div class="minutes">
        <span>{{ remainingTime.seconds }}</span>
        <span>SECONDS</span>
      </div>
    </div>

    <div class="emailing">
      <div class="description">
        Get notified when site goes live :
      </div>
      <div class="form">
        <input type="text" readonly placeholder="Enter your email...">
        <button>Subscribe</button>
      </div>
    </div>

    <!-- <div class="contact-email">
      <span>if you have any questions, please contact us at :</span>
      <span>contact&#64;galaxy.com</span>
    </div> -->

    <div class="connect-platforms">
      <div class="platform">
        <img src="assets/images/discord.svg" alt="Discord">
        Discord
      </div>
      <div class="platform">
        <img src="assets/images/twitter.svg" alt="Twitter">
        Twitter
      </div>
      <div class="platform">
        <img src="assets/images/opensea.svg" alt="Opensea">
        Opensea
      </div>
    </div>
  </div>

  <div class="footer">
    2022 Galaxy, All rights reserved.
  </div>
</div>